.DS_Store
AGENTS.md
TODO.md
.sipman-deps/
*.xcodeproj/*.mode?v?
*.xcodeproj/*.pbxuser
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
build/
.idea/

ThirdParty/Opus
ThirdParty/LibreSSL/*
!ThirdParty/LibreSSL/patches
ThirdParty/PJSIP/*
!ThirdParty/PJSIP/config_site.h
!ThirdParty/PJSIP/patches
